body {
  margin: 20px;
  background: url(https://psdgraphics.com/file/scratched-texture.jpg)  no-repeat;
  background-color: #4643E
  font-family: 'Open Sans' sans-serif;
  background-size: cover;
}

.primary-header {
  text-align: center;;
  box-shadow: 5px 5px 15px 5px #000;
  border-radius: 30px;
  background-color: #61DBE5;
  padding: 10px;
  height: 600px;
}
.primary-info{
  text-align: center;
    box-shadow: 5px 5px 15px 5px #000;
    border-radius: 30px;
    background-color: #61DBE5;
    padding: 10px;
    height: 300px;
}
.primary-headers {
  text-align: center;

}
hr {
  border-width: 5px;
  border-color:#205D76;
}


.main-heading {
  font-size: 70px;
  color: yellow;

}

.youtube span {
  color:black;
}

.town-preview {
  width: 650px;
}


.store-section {
  display: flex;
  display: -webkit-flex;
  margin: 50px auto;
  width: 450px;
  border: 7px dashed #8DDBE3;
  border-radius: 30px;
  box-shadow: 5px 5px 15px 5px #000;
  background-color:#61DBE5;
}

.building {
  width: 160px;
}

.store-details {
  margin-left: 30px;
}

.store-list li {
  background: url(#) left no-repeat;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  font-size: 20px;
  padding: 0 0 0 36px;
}

.category-heading {
  color: #000;
  font-size: 40px;
}

.store-list {
  padding-left: 15px;
  color: #f7bb01;
}

.store-name {
  margin-bottom: 7px;
}

.store-link: {
  color: #FBFF00;
  font-size: 30px;
  text-decoration: none;
}

.store-link:hover{
  text-decoration: underline;
  color:green;
}

.html-link{
  font-size: 20px;
}

.html-link:hover{
 text-decoration: none;
 color:yellow;
}

.primary-footer {
  padding: 2px;
  background-color: #FFC122;
  text-align: center;
  margin: 0;
}

.created-by {
  color: black;
  font-size: 20px;
}

.animation-circle{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #FD0000;
  position: relative;
  animation-name: circle;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 2s;
}
.animation-circle:hover{
  width: 200px;
  height: 200px;
  animation-play-state: paused;
}

@keyframes circle{
  0%{
    left: 0%;
  }
  50%{
    border-radius: 0%;
  }
  100%{
    left:75%;
  }
}

.animation-circle_2{
  margin-top: 20px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color:#FFF700;
  position: relative;
  animation-name: circle;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}
.animation-circle_2:hover{
  width: 200px;
  height: 200px;
  animation-play-state: paused;
}

.animation-circle_3{
  margin-top: 20px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #00FF2A;
  position: relative;
  animation-name: circle;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1.5s
}
.animation-circle_3:hover{
  width: 200px;
  height: 200px;
  animation-play-state: paused;
}